{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <span class="breadcrumb-prefix">
    {% trans %}
      You are here:
    {% endtrans %}
  </span>

    {% set url = url('<current>') %}
    <ol class="breadcrumb">
        {% for item in breadcrumb %}
            {% if item.url %}
                {% if url|render|render ends with item.url %}
                   {# <li {{ item.attributes }}>
                        <a href="{{ item.url }}">{{ item.text }} xxx</a>
                    </li>#}
                {% else %}
                    {% if item.url != previous_url  %}
                    <li {{ item.attributes }}>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endif %}
                {% endif %}

                {% set previous_url = item.url %}
            {% else %}
                <li {{ item.attributes }}>
                    {{ item.text }}
                </li>
            {% endif %}

        {% endfor %}
    </ol>
{#  <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li {{ item.attributes }}>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>#}
{% endif %}
