{%
set classes = [
'iucn-site-assessment-wrapper',
]
%}
  {% set node = content['#node'] %}

<div{{ attributes.addClass(classes) }}>
    <!-- Tab panes -->

    <div class="tab-content">
        <div role="tabpanel" class="tab--summary tab-pane active fade in" id="summary">
            <h2 class="tab-title summary visible-mobile">{{ 'Summary'|t }}</h2>
            {{ content.summary }}
        </div>
        <div role="tabpanel" class="tab--full-assessment tab-pane fade" id="full-assessment">
            <div class="full-assessment visible-mobile pdf-tab-title">{{ 'Full assessment'|t }}</div>
            {{ content.full_assessment_values }}
        </div>
        <div role="tabpanel" class="tab--references tab-pane fade" id="references">
            <div class="references visible-mobile pdf-tab-title">{{ 'References'|t }}</div>
            {{ content.references }}
        </div>
    </div>
</div>
