{%
set classes = [
'iucn-site-wrapper',
]
%}
{% set node = content['#node'] %}

<div{{ attributes.addClass(classes) }}>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">
        <span class="tab-label">{{ 'Summary'|t }}</span>
        <span class="tab-description">{{ 'Overview of the site\'s Conservation Outlook'|t  }}</span>
        <span class="tab-read-more">{{ 'Read more'|t  }}</span>
      </a>
    </li>
    <li role="presentation">
      <a href="#full_assessment" aria-controls="full_assessment" role="tab" data-toggle="tab">
        <span class="tab-label">{{ 'Full assessment'|t }}</span>
        <span class="tab-description">{{ 'The complete Conservation Outlook Assessment for this site, with more details on values, threats, protection and management'|t  }}</span>
        <span class="tab-read-more">{{ 'Read more'|t  }}</span>
      </a>
    </li>
    <li role="presentation">
      <a href="#references" aria-controls="references" role="tab" data-toggle="tab">
        <span class="tab-label">{{ 'References'|t }}</span>
        <span class="tab-description">{{ 'The source of information for the Conservation Outlook Assessment'|t  }}</span>
        <span class="tab-read-more">{{ 'See references'|t  }}</span>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {{ content.summary }}
          </div>
          <div role="tabpanel" class="tab-pane" id="full_assessment">
            <p>{{ 'Click the + and - signs to expand or collapse full accounts of information under each topic. You can also view the entire list of information by clicking Expand all on the top left.'|t }}</p>
            <ul class="assessment-expand-buttons">
              <li class="expand-button">{{ 'Expand all'|t }}</li>
              <li class="collapse-button">{{ 'Collapse all'|t }}</li>
            </ul>

            {{ content.full_assessment_values }}

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <p>{{ 'HERE GOES THE SIDEBAR' }}</p>
      </div>
    </div>
  </div>
</div>
