{%
set classes = [
'iucn-publications-teaser-wrapper',
]
%}

<div{{ attributes.addClass(classes) }}>
    {{ content.title }}
    {% if content.left_1|render %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 left-content">
                    {{ content.left_1 }}
                </div>
                <div class="col-sm-9 right-content">
    {% endif %}
    <div class="publication-content">
        {{ content.content }}
    </div>
    <div class="publication-year">
        {{ content.content_year }}
    </div>
    {% if content.left_1|render %}
            </div>
        </div>
    {% endif %}
</div>

