{%
set classes = [
'iucn-site-wrapper',
]
%}
{% set node = content['#node'] %}

<div{{ attributes.addClass(classes) }}>

  <!-- Tab panes -->
  <div class="container">
    <div class="row">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="summary">
          {{ content.summary }}
        </div>
        <div role="tabpanel" class="tab-pane" id="full_assessment">
          <p>{{ 'Click the + and - signs to expand or collapse full accounts of information under each topic. You can also view the entire list of information by clicking Expand all on the top left.'|t }}</p>
          <ul class="assessment-expand-buttons">
            <li><button class="btn-link expand-button">{{ 'Expand all'|t }}</button></li>
            <li><button class="btn-link collapse-button">{{ 'Collapse all'|t }}</button></li>
          </ul>

          {{ content.full_assessment_values }}

        </div>
        <div role="tabpanel" class="tab-pane" id="references">
          {{ content.references }}
        </div>
      </div>
    </div>
  </div>
</div>
