{%
set classes = [
'iucn-assessment-value',
'iucn-assessment-panel-container',
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{ content.title }}</div>
      <div class="panel-title-terms">
        {%  spaceless  %}
        <div class="panel-title-terms-first">{{ content.terms }}</div>
        <div class="panel-title-terms-second">{{ content.terms_second }}</div>
        {% endspaceless  %}
      </div>
    </div>
    <div class="panel-body">
      {{ content.description }}
    </div>
  </div>
</div>
