{%
set classes = [
'iucn-site-assessment-wrapper',
]
%}
<div{{ attributes.addClass(classes) }}>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab--summary tab-pane active fade in" id="summary">
            <h2 class="tab-title summary visible-mobile">&nbsp;</h2>
            <div class="summary visible-mobile pdf-tab-title">{{ 'Summary'|t }}</div>
            {{ content.summary }}
        </div>
        <div role="tabpanel" class="tab--full-assessment tab-pane fade" id="full-assessment">
            <h2 class="tab-title full-assessment visible-mobile">{{ 'Full assessment'|t }}</h2>
            {{ content.full_assessment_values }}
        </div>
        <div role="tabpanel" class="tab--references tab-pane fade" id="references">
            <h2 class="tab-title references visible-mobile">{{ 'References'|t }}</h2>
            {{ content.references }}
        </div>
    </div>
</div>
