{%
set classes = [
'iucn-news-teaser-wrapper',
]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="container">
        <div class="row" style="padding-bottom: 1em;">
            <div class="col-md-4">
                {{ content.left_1 }}
            </div>
            <div class="col-md-8">
                {{ content.content }}
                <a href={{ read_more_link }}> {{ read_more }} </a>
            </div>
        </div>
    </div>
</div>

