
{%
set classes = [
'iucn-publications-full-wrapper',
]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="publication-content">
                    <div class="publication-title">{{ content.title }}</div>
                </div>
                <div class="publication-content">
                    {{ content.field_author }}
                </div>
                <div class="publication-year publication-content">
                    {{ content.field_publication_year }}
                </div>
                <div class="publication-content">
                    {{ content.body }}
                </div>

            </div>
            <div class="col-md-4">
                <h2 class="facets-title">
                    {% trans %}
                    Resources
                    {% endtrans %}
                </h2>
                {{ content.right_1 }}
                {% if content.right_2|render %}
                        <div id="download-publication-button">
                            <a href="{{ file_url(content.right_2.field_file.0['#file'].uri.0.value) }}" download>
                                <i class="glyphicon glyphicon-download"></i>
                                {% trans %}
                                Download the report
                                {% endtrans %}
                            </a>
                        </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="publications-back-button">
                    <a href="#" class="publications-back-button-a"><i class="backicon"></i>{% trans %}Back{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</div>


