<div class="map-site-detail">
    <a class="close" href="javascript:benefitsMapSiteDetailClose()"><span aria-hidden="true">&times;</span></a>
    <div class="map-site-detail-content">
        <h5 class="title{% if status.label %} {{ status.entity.field_css_identifier.value }} {% endif %}">{{ title }}</h5>
        {% if country %}
            <div class="country">{{ 'Country'|t }}: {{ country.label }}</div>
        {% endif %}
        {% if inscription %}
            <div class="inscription">Inscribed in <strong>{{ inscription }}</strong></div>
        {% endif %}
        <a class="more" href="{{ link }}">Read more about this benefit</a>
    </div>
</div>
