<div class="container-fluid">
  <div class="row map-block-main">

    <div class="col col-sm-3 map-col-left">
      <div class="title-container visible-desktop">
        <h3>{{ 'Map legend' | trans }}</h3>
        <div class="benefits-expand-buttons"><a class="expand-button" href="javascript:benefitsCategoriesExpandAll();">{{ 'Expand all' }}</a> | <a class="collapse-button"href="javascript:benefitsCategoriesCollapseAll();">{{ 'Collapse all' }}</a></div>
      </div>
      <a id="sidemenu-toggle" class="sidemenu-toggle visible-mobile btn btn-info" role="button" data-toggle="dropdown" href="#sidemenu" aria-expanded="false"><span>{{ 'Map legend' | trans }}</span></a>
      <div class="sidemenu" id="sidemenu">
        <div class="benefits-expand-buttons visible-mobile"><a class="expand-button" href="javascript:benefitsCategoriesExpandAll();">{{ 'Expand all' }}</a> | <a class="collapse-button"href="javascript:benefitsCategoriesCollapseAll();">{{ 'Collapse all' }}</a></div>
        <div class="map-filters-container " id="map-filters-container" data-iucn-simplebar="visible">
          <div id="map-filters" class="panel-group map-filters">
            <div class="map-filter-item active benefit-category-container">
              <a href="#all" data-category="all" class="benefit-category">{{ 'All World Heritage Sites' | trans }}</a>
            </div>
            {% for category in categories %}
            <section class="clearfix panel panel-default filter-panel">
              <div class="panel-heading" role="tab" id="heading-topic-{{ category.id }}">
                <a class="panel-title" role="button" data-toggle="collapse" href="#topic-{{ category.id }}" aria-expanded="false" aria-controls="topic-{{ category.id }}">
                  <span class="icon-collapse"></span>{{ category.name.value }}</a>
              </div>
              <div id="topic-{{ category.id }}" class="clearfix panel-collapse fade collapse" role="tabpanel" aria-expanded="true" style="">
                <div class="panel-body">
                  <ul class="map-filter-items">
                    {% for child in category.children %}
                      <li class="map-filter-item filter-item benefit-category-container"><a href="#{{ child.id }}" data-category="{{ child.id }}" class="benefit-category">
                              {% if child.field_category_image.entity.uri.value %}
                        <img src="{{ file_url(child.field_category_image.entity.uri.value) }}"/>
                              {% endif %}<span>{{ child.name.value }}</span></a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </section>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="map-site-details-container">
        <div id="map-site-details" class="map-site-details">
          {{ empty_selection_placeholder_markup | raw }}
        </div>
      </div>
    </div>
    <div class="col col-sm-9 map-col-right">
      {{ markup_map | raw }}
    </div>
  </div>

  {% if block_footer_text %}
  <div class="row map-block-footer">
    <div class="block-footer-text">{{ block_footer_text }}</div>
  </div>
  {% endif %}
</div>
