{% if rendered_content %}
    {{ rendered_content }}
{% endif %}


{% set random = random(1000) %}

{% if decisions %}
    {% if decisions['yes'] and decisions['no'] %}
        <div class="decision-button-holder-container">
            <a class="decision-button-holder" href="#decision-{{ entity_id }}" rel="load-decisions" data-decisions="{{ decisions['yes']|join(',') }}" data-container="decision-{{ entity_id }}-{{ random  }}" data-param="yes">{{ 'Yes'|t }}</a>
            <a class="decision-button-holder" href="#decision-{{ entity_id }}" rel="load-decisions" data-decisions="{{ decisions['no']|join(',') }}" data-container="decision-{{ entity_id }}-{{ random  }}" data-param="no">{{ 'No'|t }}</a>
        </div>
    {% endif %}
{% endif %}
<div class="decision-tree-holder" id="decision-{{ entity_id }}-{{ random  }}"></div>

