{% if rendered_content %}
    {{ rendered_content }}
{% endif %}

{% if decisions %}
    {% if decisions['yes'] and decisions['no'] %}
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-6">
                <a class="decision-button-holder" href="#decision-{{ entity_id }}" rel="load-decisions" data-decisions="{{ decisions['yes']|join(',') }}" data-container="decision-{{ entity_id }}" data-level="{{ level }}" data-param="yes">{{ 'Yes'|t }}</a>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6">
                <a class="decision-button-holder" href="#decision-{{ entity_id }}" rel="load-decisions" data-decisions="{{ decisions['no']|join(',') }}" data-container="decision-{{ entity_id }}" data-level="{{ level }}" data-param="no">{{ 'No'|t }}</a>
            </div>
        </div>
    {% endif %}
{% endif %}
<div class="decision-tree-holder" id="decision-{{ entity_id }}"></div>
