<a class="diff-button" title="{{ 'Click to copy this value to the final version'|t }}" data-type="{{ type }}"
   data-key="{{ key }}" data-selector="{{ selector }}"
   data-key2="{{ key2 }}" data-selector2="{{ selector2 }}">
  <i class="far fa-copy"></i>
  <p>{{ 'Copy'|t }}</p>
</a>
