<div>
  <!-- Tab panes -->
  <div class="tab-content">
    {%  for image in images %}
    <div role="tabpanel" class="tab-pane {{ (years[loop.index0] == active_year) ? 'active' : ''}}" id="year_{{ years[loop.index0] }}">
    {{ image }}
    </div>
    {% endfor %}
  </div>
  <div class="field--name-assessments-links">
    <ul class="links" role="tablist">
      {% for year in years %}
        <li role="presentation" class="{{ (years[loop.index0] == active_year) ? 'active' : ''}}">
          <a href="#year_{{ year }}" aria-controls="year_{{ year }}" role="tab" data-toggle="tab">{{ year }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
