<div class="map-site-detail">
  <a class="close" href="javascript:homepageMapSiteDetailClose()">x</a>
  {% if status.label %}
  <div class="status {{ status.entity.field_css_identifier.value }}">{{ status.label }}</div>
  {% endif %}
  {% if thumbnail %}
  <img src="{{ thumbnail }}" height="160" width="300">
  {% endif %}
  <div class="map-site-detail-content">
    <h5 class="title {{ status.entity.field_css_identifier.value }}">{{ title }}</h5>
    {% if country %}
    <div class="country">{{ country.label }}</div>
    {% endif %}
    {% if inscription %}
    <div class="inscription">Inscribed in <strong>{{ inscription }}</strong></div>
    {% endif %}
    <a class="more" href="{{ link }}">Read more</a>
    <dl>
      {% if stat_values %}
      <dt class="values">Values</dt>
      <dd>{{ stat_values }}</dd>
      {% endif %}
      {% if stat_threat %}
      <dt class="threats">Threats</dt>
      <dd>{{ stat_threat }}</dd>
      {% endif %}
      {% if stat_protection %}
      <dt class="protection-management">Protection &amp; management</dt>
      <dd>{{ stat_protection }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
