<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-3">
      <div id="map-site-search">
      {{ search_form }}
      </div>
      <div id="map-filters">
        <h3>{{ '2017 Conservation Outlook rating' | trans }}</h3>
        <ul>
          {% for rating in conservation_ratings %}
          <li class="{{ rating.field_css_identifier.value }}"><a class="conservation-rating {{ rating.field_css_identifier.value }}" data-filter="{{ rating.id }}" href="javascript:void(0);">{{ rating.name.value }}</a></li>
          {% endfor %}
        </ul>
        <a data-filter="all" href="javascript:void(0);">{% trans %}See all ({{ sites_total_count }}){% endtrans %}</a>
      </div>
      <div id="map-site-details">
        {{ empty_selection_placeholder_markup | raw }}
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="row">
        {{ markup_map | raw }}
      </div>
    </div>
  </div>
</div>
