<dl>
  {% set maxValue = 0 %}
  {% for row in statistics %}
    {% set maxValue = max(row.value, maxValue) %}
  {% endfor %}


  {% for row in statistics %}
    {% set mobileValue = (row.value * 100 / maxValue) %}
    <dt class="{{ row.id }}">{{ row.label }}</dt>
    <dd><div data-statistics-mobile="{{ mobileValue|round }}" data-statistics="{{ row.value }}" class="bg-{{ row.id }}">{{ row.value }}%</div></dd>
  {% endfor %}
</dl>
