<div class="container-fluid">
  <div class="row map-block-main">

    <div class="col col-sm-3 map-col-left">
      <div id="map-site-search" class="map-site-search">
        {{ search_form }}
        <a id="sidemenu-toggle" role="button" class="btn-link visible-mobile" href="#sidemenu" data-toggle="dropdown"><span>{{ 'Rating filter'|t }}</span></a>
      </div>
      <div id="sidemenu" class="sidemenu">
        <div id="map-filters" class="map-filters">
          <h3>{{ '2017 Conservation Outlook rating' | trans }}</h3>
          <ul class="map-filter-items">
            {% for rating in conservation_ratings %}
              {% if rating.field_css_identifier.value != 'coming-soon' %}
                <li class="map-filter-item {{ rating.field_css_identifier.value }}"><a class="conservation-rating {{ rating.field_css_identifier.value }}" data-filter="{{ rating.id }}" href="javascript:void(0);">{{ rating.name.value }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <a data-filter="all" href="javascript:void(0);" class="conservation-rating">{% trans %}See all ({{ sites_total_count }}){% endtrans %}</a>
          <ul class="map-filter-items">
              {% for rating in conservation_ratings %}
                  {% if rating.field_css_identifier.value == 'coming-soon' %}
                    <li class="map-filter-item {{ rating.field_css_identifier.value }}"><a class="conservation-rating {{ rating.field_css_identifier.value }}" data-filter="{{ rating.id }}" href="javascript:void(0);">{{ rating.name.value }}</a></li>
                  {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="map-site-details-container" id="map-site-details-container" data-iucn-simplebar>
        <div id="map-site-details" class="map-site-details">
          {{ empty_selection_placeholder_markup | raw }}
        </div>
      </div>
    </div>
    <div class="col col-sm-9 map-col-right">
      {{ markup_map | raw }}
    </div>
  </div>
  {% if block_footer_text %}
  <div class="row map-block-footer">
    <a href="javascript:void(0);" class="scroll-down" id="frontpage-scroll-down" data-target="#scroll-down-target"></a>
    <div id="scroll-down-target"></div>
    <div class="block-footer-text"><h1>{{ block_footer_text }}</h1></div>
  </div>
  {% endif %}
</div>
